<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Lights</title>
	</head>
	<body>
		{% if message %}
	 	{{message}}
		{% endif %}
		<hr>
		<button onclick="location.href='{% url 'shocket1on' %}'"> Turn on Shocket 1</button>	
		<button onclick="location.href='{% url 'shocket1off' %}'"> Turn off Shocket 1</button>
		<br >
		<button onclick="location.href='{% url 'shocket2on' %}'"> Turn on Shocket 2</button>	
		<button onclick="location.href='{% url 'shocket2off' %}'"> Turn off Shocket 2</button>
		<br >
		<button onclick="location.href='{% url 'shocket3on' %}'"> Turn on Shocket 3</button>	
		<button onclick="location.href='{% url 'shocket3off' %}'"> Turn off Shocket 3</button>
		<br >
		<br >
		<button onclick="location.href='{% url 'bulb1on' %}'"> Turn on Bulb 1</button>	
		<button onclick="location.href='{% url 'bulb1off' %}'"> Turn off Bulb 1</button>
		<br >
		<button onclick="location.href='{% url 'bulb2on' %}'"> Turn on Bulb 2</button>	
		<button onclick="location.href='{% url 'bulb2off' %}'"> Turn off Bulb 2</button>
		<br >
		<button onclick="location.href='{% url 'bulb3on' %}'"> Turn on Bulb 3</button>	
		<button onclick="location.href='{% url 'bulb3off' %}'"> Turn off Bulb 3</button>

		<br><br><br>
		<button onclick="location.href='{% url 'killserver' %">Kill Server</button>
	</body>
</html>
