{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Lights</title>
        <!-- icon set -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="194x194" href="{% static 'img/fav/favicon-194x194.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/fav/android-chrome-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/fav/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/fav/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static 'img/fav/favicon.ico' %}">
        <meta name="apple-mobile-web-app-title" content="HomeLight">
        <meta name="application-name" content="HomeLight">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="msapplication-config" content="{% static 'img/fav/browserconfig.xml' %}">
        <meta name="theme-color" content="#ff0000">
	</head>
	<body style="background: rgb(89,89,75); background: radial-gradient(circle, rgba(89,89,75,1) 0%, rgba(0,2,32,1) 100%);">
        <div class="container bg-gradient-dark text-white">
            <div class="row text-center">
                <div class="col">
                    <h1>Handheld switch for all your lights</h1>
                    {% if switches %}
                        <p>Select one of the {{ switches|length }} switch(es) below to bring light into you life.</p>
                    {% else %}
                        <p>To use this tool, you will need to set up your devices first:<br>
                        Please visit your <a class="btn btn-primary" role="button" href="{% url 'admin:index' %}">admin</a> dashboard first</p>
                    {%endif%}
                </div>
            </div>
            <div class="row text-center" style="height: 65vh">
                <div class="col-md-4 d-none d-lg-block">
                    <img src="{% static 'img/bulb.svg' %}" class="img-fluid" alt="bulb" style="height: 55vh; filter: invert(61%) sepia(100%) saturate(405%) hue-rotate(355deg) brightness(103%) contrast(98%);">
                </div>
                <div class="col">
                    {% if switches %}
                        <form method="post">{% csrf_token %}

                        {% for switch in switches %}
                            <input class="btn btn-outline-warning" type="submit" value="{{switch.switch_name}}" name="Switch" style="margin:3px;" />
                                {% if forloop.counter|divisibleby:2 %}
                                    <br>
                                {% endif %}

                        {% endfor %}
                        </form>
                    {% endif %}
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <img src="{% static 'img/bulb.svg' %}" class="img-fluid" alt="bulb" style="height: 55vh; filter: invert(61%) sepia(100%) saturate(405%) hue-rotate(355deg) brightness(103%) contrast(98%);">
                </div>
            </div>
        </div>
	</body>
</html>
